html
  head
    title='KKK world'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello. Welcome in KKK world!!!
        p Click the button below to head over to main page...
        p 
          a.btn.btn-primary(href="/") Main
        p
